<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<title>Synok</title>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/email-form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title> FOOD DEALS </title>

</head>

<body>
  <form id="email-form-container">
    <div class="form-group">
        <label id="email-name" for="name">Full Name:</label>
        <input type="email" class="form-control" id="input-email-name" name="user_name">
    </div>
    <div>

    </div>
    <div>
      <label for="mail">Email:</label>
        <input type="email" id="mail" name="user_email">
    </div>
      <div>
        <label for="msg">Message:</label>
          <textarea id="msg" name="user_message"></textarea>
      </div>
      <div class="button">
        <button type="submit"> Send :) </button>
    </div>
  </form>

</body>
</html>
